NodeRED_ClientsForPubSub/NodeRED_consumer_flow.json
[{"id":"9aa8cf93.64399","type":"function","name":"Subscribe to data from Marketplace (amqplib)","func":"var q = 'QUEUE TO LISTEN TO';\nvar u='YOUR_USERNAME';\nvar p='YOUR PASSWD';\nvar url='IP_OR_DOMAIN_NAME:5672/';\nvar vhost='VHOST OF PRODUCER';\nvar overall_string='amqp://'+u+':'+p+'@'+url+vhost;\nconsole.log(overall_string);\n\nvar open3 = context.global.amqp.connect(overall_string);\n\nopen3.then(function(conn) {\n  return conn.createChannel();\n}).then(function(ch) {\n    return ch.consume(q, function(ms) {\n      if (ms !== null) {\n        console.log(ms.content.toString());\n        ch.ack(ms);\n        msg.payload=ms.content.toString();\n        node.send(msg)\n      }\n    });\n}).catch(console.warn);\n\nif (msg.payload=='stop'){\n    conn.close();\n}\nreturn msg;","outputs":1,"valid":true,"x":456.25,"y":119.58331298828125,"z":"e7bed9de.a7415","wires":[["202270b8.1a4f78"]]},{"id":"d2732f2d.aa464","type":"inject","name":"Press to start listening","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":125,"z":"e7bed9de.a7415","wires":[["9aa8cf93.64399"]]},{"id":"202270b8.1a4f78","type":"debug","name":"","active":true,"console":"false","complete":"false","x":639.1666259765625,"y":234.58331298828125,"z":"e7bed9de.a7415","wires":[]},{"id":"7b09d289.185834","type":"comment","name":"Forward for processing","info":"","x":773.7500610351562,"y":113.75,"z":"e7bed9de.a7415","wires":[]},{"id":"128ae7d.5796518","type":"comment","name":"README- CONF","info":"Configuration is needed on this node with relation to credentials,\nendpoint definition, vhost of the system etc. This information will be \nincluded in a url that will be sent to you upon registration.\n\nThe node creates a connection as a consumer and listens for incoming\nevents. Each new event that comes generates a message towards the output.\nThe node remains connected and listening.\n\nRequires also the node.js lib amqplib to be installed, as well as \ninclusion of the following required lines in the global context section \nof the settings.js file of your Node-RED installation:\namqp:require('amqplib'),\namqpcreds:require('amqplib/lib/credentials'),\namqpconnect:require('amqplib/lib/connect'),\namqpCall:require('amqplib/callback_api'),\n","x":343.75,"y":180,"z":"e7bed9de.a7415","wires":[]},{"id":"6910c46d.b27944","type":"comment","name":"Start/Stop instructions","info":"For starting, just press the blue button below\n\nFor stopping, replace the payload string with 'stop' and retrigger","x":118.75,"y":76.25,"z":"e7bed9de.a7415","wires":[]}]