NodeRED_Clients/NodeRED_producer_flow.json
[{"id":"4c38327a.fc8a5c","type":"inject","name":"Testing trigger","topic":"","payload":"sdfhdssfddddd","payloadType":"string","repeat":"","crontab":"","once":false,"x":472.4999694824219,"y":100,"z":"86accd03.a39da","wires":[["43e32259.01406c"]]},{"id":"43e32259.01406c","type":"function","name":"Push data to Marketplace (amqplib)","func":"\nvar ex='EXCHANGE_NAME';\nvar u='USERNAME';\nvar p='PASSWD';\nvar url='IP_OR_DOMAIN_NAME:5672/';\nvar vhost='VHOST_OF_PRODUCER';\nvar overall_string='amqp://'+u+':'+p+'@'+url+vhost;\nconsole.log(overall_string);\nvar open = context.global.amqp.connect(overall_string);\n// Publisher\nopen.then(function(c) {\n  c.createConfirmChannel().then(function(ch) {\n    ch.publish(ex,'', new Buffer(msg.payload), {deliveryMode:2},\n                   function(err, ok) {\n                     if (err !== null)\n                       console.warn('Message nacked!');\n                     else\n                       console.log('Message acked');\n                       c.close();\n    });\n  });\n});\n\nreturn msg;","outputs":1,"valid":true,"x":763.7498474121094,"y":179.64285850524902,"z":"86accd03.a39da","wires":[["9950b028.664bd"]]},{"id":"31433adb.f481ce","type":"json","name":"","x":507.083251953125,"y":182.75006103515625,"z":"86accd03.a39da","wires":[["43e32259.01406c"]]},{"id":"9950b028.664bd","type":"debug","name":"","active":true,"console":"false","complete":"false","x":1022.3212585449216,"y":188.21428598676403,"z":"86accd03.a39da","wires":[]},{"id":"f3b9aef4.bda17","type":"comment","name":"Output goes directly to Marketplace Messaging System","info":"","x":1131.2499389648438,"y":120,"z":"86accd03.a39da","wires":[]},{"id":"4c90e470.e7ed4c","type":"comment","name":"README-CONF","info":"Configuration is needed on this node with relation to credentials,\nendpoint definition, vhost of the system etc. This information will be \nincluded in a url that will be sent to you upon registration.\n\nThe node creates a connection for each incoming event message\nand pushes it to the producer account of the Marketplace Messaging System.\n\nRequires also the node.js lib amqplib to be installed, as well as \ninclusion of the following required lines in the global context section \nof the settings.js file of your Node-RED installation:\namqp:require('amqplib'),\namqpcreds:require('amqplib/lib/credentials'),\namqpconnect:require('amqplib/lib/connect'),\namqpCall:require('amqplib/callback_api'),\n","x":701.25,"y":240,"z":"86accd03.a39da","wires":[]},{"id":"d4283217.063008","type":"comment","name":"Incoming event messages as produced in whatever way should be linked to the JSON node","info":"\nFor example the output of the Twitter get data flow can be linked to this input and\npublish the tweets on the messaging system of the marketplace.\n\nThe JSON node is needed since in many cases JSON objects may be pushed but they need\nto be converted in strings in order to be read in the Messaging system (if such requirement\nexists).","x":316,"y":148.75,"z":"86accd03.a39da","wires":[]}]