ListingsClients/DataFieldsFuzzifierNodeREDClients/configure_flow.json
[{"id":"c1bb3c87.13b7c","type":"inject","z":"a4bc655f.f85648","name":"myUsername","topic":"","payload":"myUsername","payloadType":"str","repeat":"","crontab":"","once":false,"x":160.0994415283203,"y":342.0909118652344,"wires":[["fce6bddd.17c74"]]},{"id":"6d803e97.ad23d","type":"http request","z":"a4bc655f.f85648","name":"insertURL","method":"use","ret":"txt","url":"localhost:1880/configure","tls":"","x":610.0994110107422,"y":342.06256103515625,"wires":[["7067c681.707818"]]},{"id":"7067c681.707818","type":"debug","z":"a4bc655f.f85648","name":"response","active":true,"console":"false","complete":"payload","x":734.1078948974609,"y":462.5795593261719,"wires":[]},{"id":"fce6bddd.17c74","type":"function","z":"a4bc655f.f85648","name":"appendUsername","func":"msg.username = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":220.10513305664062,"y":472.3551025390625,"wires":[["b870f2ea.18dcb"]]},{"id":"38d39860.480b88","type":"function","z":"a4bc655f.f85648","name":"formRequestBody","func":"delete msg[\"payload\"];\n\nvar content = msg;\n\nmsg = {};\n\nmsg.payload = content;\n\nmsg.method = \"POST\";\n\nreturn msg;","outputs":1,"noerr":0,"x":492.1022491455078,"y":471.3551025390625,"wires":[["6d803e97.ad23d"]]},{"id":"b870f2ea.18dcb","type":"configFuzzifier","z":"a4bc655f.f85648","name":"myConfiguration","Public":"","LowPrivacy":"latitude:range=0.0005","MediumPrivacy":"longitude:range=0.5","HighPrivacy":"","Private":"","x":393.0965270996094,"y":324.25286865234375,"wires":[["38d39860.480b88"]]}]