ListingsClients/DataFieldsFuzzifierNodeREDClients/fuzzy_flow.json
[{"id":"75edeac6.bff564","type":"inject","z":"a4bc655f.f85648","name":"input","topic":"","payload":"{      \"username\":\"myUsername\",    \"latitude\":\"51.532379\",    \"longitude\":\"-0.137874\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":196.9517059326172,"y":1305.97998046875,"wires":[["95a1374a.f32178","c4eb0be.0360cf8"]]},{"id":"c4eb0be.0360cf8","type":"http request","z":"a4bc655f.f85648","name":"insertURL","method":"POST","ret":"txt","url":"localhost:1880/fuzzify","tls":"","x":454.9517059326172,"y":1286.6760864257812,"wires":[["94e1368c.3432e8"]]},{"id":"94e1368c.3432e8","type":"debug","z":"a4bc655f.f85648","name":"fuzzyData","active":false,"console":"false","complete":"payload","x":653.9601898193359,"y":1281.2926025390625,"wires":[]},{"id":"95a1374a.f32178","type":"debug","z":"a4bc655f.f85648","name":"","active":true,"console":"false","complete":"false","x":434.9573516845703,"y":1397.19873046875,"wires":[]}]